<h1>Home Page</h1>

{{#each posts}}
	<div>
		Title: {{this.title}}
	</div>
	<div>
		Url: {{this.url}}
	</div>
	<div>
		Image: {{this.image}}
	</div>
	<div>
		Description: {{this.description}}
	</div>
	<div>
		Score: {{this.score}}
	</div>
{{/each}}