<div class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title"><h3 class="text-center">{{post.title}}</h3>
  </div>
<div class="panel-body">
 <dl class="dl-horizontal">
  <dt><h5 class="text-left">Created At:</h5></dt>
  <dd><h5 class="text-center">{{post.createdAt}}</h5></dd>
</dl>
<dl class="dl-horizontal">
  <dt><h5 class="text-left">Image:</h4></dt>
  <dd><h5 class="text-center">{{post.image}}</h5></dd>
</dl>
<dl class="dl-horizontal">
  <dt><h5 class="text-left">Description:</h4></dt>
  <dd><h5 class="text-center">{{post.description}}</h5></dd>
</dl>
<dl class="dl-horizontal">
  <dt><h5 class="text-left">Score:</h5></dt>
  <dd><h5 class="text-center">{{post.score}}</h5></dd>
</dl>

{{#if post.snippet}}
<div>
  <pre><code>{{post.snippet}}</code></pre>  
</div>
{{/if}}

<dl class="dl-horizontal">
  <dt><h5 class="text-left">Url:</h5></dt>
  <dd><a href= "{{post.url}}">{{post.url}}</a></dd>
</dl>
<dl class="dl-horizontal">
  <dt><h5 class="text-left">Comments</h5></dt>
  <dd><form action="/{{post.id}}/comment" method="post">
  <input type="text" name="comment" value="" placeholder="Add a comment">
  <button type="submit">Submit</button>
</form></dd>
</dl>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><h5 class="text-left">Comments</h5></dt>
      <dd><h5 class="text-center"> {{#each post.Comments}}
     <div>{{this.createdAt}} - {{this.comment}}</div>
      {{/each}} </h5></dd>
</dl>
  </div>
</div>
  


</div>
</div>











<!-- <h1>{{post.title}}</h1> -->
<!--<div>Created At: {{post.createdAt}}</div>
<h2>Image: {{post.image}}</h2>
<h2>Description: {{post.description}}</h2>
<h2>Score: {{post.score}}</h2>
<h2>URL: <a href= "{{post.url}}">{{post.url}}</a></h2>


<form action="/{{post.id}}/comment" method="post">
  <input type="text" name="comment" value="" placeholder="Add a comment">
  <button type="submit">Submit</button>
</form>
<h1>Comments:</h1>
{{#each post.Comments}}
  <div>{{this.createdAt}} - {{this.comment}}</div>
{{/each}} -->